*, *:before, *:after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $color-body;
  padding-top: $header-height;
  @media ($min-width) {
    padding-top: $header-height-desktop;
  }
}

.align-center {
  text-align: center;
}

%asg-shadow {
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  transition: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  transition-duration: .15s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  }
}

.form-input {
  border: 1px solid white;
  background: transparent;
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.form-line {
  display: block;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

::-webkit-input-placeholder {
  color: #f2f2f2;
}
::-moz-placeholder {
  color: #f2f2f2;
}
:-ms-input-placeholder {
  color: #f2f2f2;
}
:-moz-placeholder {
  color: #f2f2f2;
}