.map {
  min-height: 440px;
  width: 100%;
  border: 1px solid #a9a5a6;
  margin-bottom: 30px;
}

.favorites {

  .band__title {
    margin-bottom: 60px;
  }

  &__list {
    color: #7d7778;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__list-item {
    font-size: 11px;
    margin-bottom: 3px;
    margin-bottom: 3.3px;
    position: relative;
    display: table;

    &:after {
      transition: 200ms;
      opacity: 0;
      background-color: $color-brand-one;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      position: absolute;
      content: "";
      display: block;
    }

    &.active {
      &:after {
        transition: 200ms;
        height: 60%;
        opacity: .5;
      }
    }
  }

  &__list-name {
    font-weight: 500;
    text-decoration: none;
    color: #7d7778;

    &[href]:hover {
      text-decoration: underline;
    }
  }

  &__place {
    color: $color-brand-one;
    font-style: italic;
  }
}


.marker {
  background-image: url('../../images/marker.svg');
  background-size: contain;
  width: 50px;
  height: 50px;
  cursor: pointer;
}