.footer {
  background: #1d1d1b;
  color: white;
  text-align: center;

  @media ($desktop) {
    text-align: left;

  }

  p{
    font-size: 18px;
    line-height: 23px;
  }

  &__title {
    font-size: 21px;
    margin: 0 0 30px;
    color: $color-brand-one;
    font-weight: 500;
    text-transform: uppercase;
    

    @media ($desktop) {
      padding-left: 40px;
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 16px;
        top: -3px;
        background-image: url('../../images/icon-envelope.svg');
        background-size: contain;
        background-position: center left;
        background-repeat: no-repeat;
      }
    }
    

    
  }

  .icon-house {
    width: 23px;
    height: 24px;
  }

  .logo {
    margin: 0 auto 30px auto;
    height: auto;
    display: inline-block;
    max-width: 280px;
    display: block;
    @media ($desktop) {
      max-width: 124px;
      display: inline-block;
      margin: 0 30px 0 0;
    }
    @media (min-width: 1240px) {
      margin: 0 90px 0 0;
    }
  }

  &__menu {
    @media ($desktop){
      display: inline-block;
    }
  }

  &__menu-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 0 auto 30px auto;
    text-align: center; 

    @media ($desktop){
      display: inline-block;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    @media (min-width: 1166px) {
      margin: 0 40px 0 0;
    }

  }

  &__link-feature {
    background-color: $color-brand-two;
    color: $color-body;
    display: inline-block;
    padding: 6px 15px;
  }

  &__copy {
    font-size: 10px;
    
    text-transform: uppercase;
    @media ($desktop) {
      line-height: 69px;
      text-align: right;
    }
    @media (min-width: 992px) {
      line-height: 31px;
    }
  }

  &__up {
    width: 31px;
    height: 33px;
    background-image: url(../../images/icon-up.svg);
    background-repeat: no-repeat;
    font: 0/0;
    vertical-align: middle;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

}

