.footer {
  background: #1d1d1b;
  color: white;
  text-align: center;

  @media ($desktop) {
    text-align: left;

  }

  p{
    font-size: 18px;
    line-height: 23px;
  }

  &__title {
    font-size: 21px;
    margin: 0 0 30px;
    color: $color-brand-one;
    font-weight: 500;
    text-transform: uppercase;
    
    @media ($desktop) {
      padding-left: 40px;
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 16px;
        top: -3px;
        background-image: url('../../images/icon-envelope.svg');
        background-size: contain;
        background-position: center left;
        background-repeat: no-repeat;
      }
    }

    &--ln {
      color: $color-brand-two;
      @media ($desktop) {
        &:before {
          background-image: url('../../images/icon-ln.svg');
        }
      }
    }

    &--tw {
      color: $color-brand-two;
      @media ($desktop) {
        &:before {
          background-image: url('../../images/icon-tw.svg');
        }
      }
    }
    
    &--jobs {
      @media ($desktop) {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }

    
  }

  .icon-house {
    width: 23px;
    height: 24px;
  }

  .logo {
    margin: 0 auto 30px auto;
    height: auto;
    display: inline-block;
    max-width: 280px;
    display: block;
    @media ($desktop) {
      max-width: 124px;
      display: inline-block;
      margin: 0 30px 0 0;
    }
    @media (min-width: 1240px) {
      margin: 0 90px 0 0;
    }
  }

  &__menu {
    @media ($desktop){
      display: inline-block;
    }
  }

  &__menu-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 0 auto 30px auto;
    text-align: center; 

    @media ($desktop){
      display: inline-block;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    @media (min-width: 1166px) {
      margin: 0 40px 0 0;
    }

  }

  &__link-feature {
    background-color: $color-brand-two;
    color: $color-body;
    display: inline-block;
    padding: 8px 15px;
  }

  &__copy {
    font-size: 10px;
    
    text-transform: uppercase;
    @media ($desktop) {
      line-height: 69px;
      text-align: right;
    }
    @media (min-width: 992px) {
      line-height: 31px;
    }
  }

  &__up {
    width: 31px;
    height: 33px;
    background-image: url(../../images/icon-up.svg);
    background-repeat: no-repeat;
    font: 0/0;
    vertical-align: middle;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    transition: 200ms ease;
    &:hover {
      transition: 200ms ease;
      transform: translateY(-5px);
    }
  }

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__stream {
    min-height: 100px;
    padding: 15px;
    border: 1px solid #9d9d9c;
    margin-bottom: 30px;

    ul {
      margin: 0;
      padding: 0;
    }
    
  }

}


.stream-item {
  display: block;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  @extend %clearfix;
  display: flex;

  a {
    color: $color-brand-two;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__img-col {
    margin-right: 10px;
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    border-radius: 100px;
  }
}