.header-flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  height: $header-height;
  background-color: $color-brand-one;
  color: $color-body;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;

  @media ($min-width) {
    height: $header-height-desktop;
  }

  
  &__logo-link {
    width: 220px;
    @media ($min-width) {
      width: 270px;
    }
    .logo { width: 100%; height: auto; }
  }

  &__menu-btn {
    @extend %hide-text;
    border: none;
    background: $color-brand-four;
    align-self: flex-end;
    position: absolute;
    width: $header-height;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-image: url(../../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    @media ($min-width) {
      display: none;
    }
  }

  &__menu {
    display: none;
    position: fixed;
    top: $header-height;
    right: 0;
    max-width: 90%;
    min-width: 260px;
    max-height: calc(100vh - #{$header-height});
    overflow-y: scroll;
    @media ($min-width) {
      overflow-y: visible;
    }
    -webkit-overflow-scrolling: touch;

    &.active {
      display: block;
    }

    @media ($min-width) {
      margin: 0 0 0 auto;
      display: block;
      position: relative;
      z-index: 100;
      top: unset;
      left: unset;
      max-width: unset;
      max-height: unset;
    }
  }

  &__menu-sub {
    margin: 0;
    padding: 0;
    list-style: none;

    @media ($min-width) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 250px;
      border-top: 1px solid #a28300;

      .header__menu-link{
        background: $color-brand-one;
        text-align: left;
        border-bottom: 1px solid #a28300;
        height: unset;
        line-height: 40px;
      }
    }

    .header__menu-item {
      float: none;
    }
  }

  &__menu-item--services {
    cursor: pointer;
    position: relative;

    @media ($min-width) { 
      background-image: url(../../images/menu-arr.svg);
      background-repeat: no-repeat;
      background-position: right 36px;
      background-size: 15px 15px;
      padding-right: 21px;
    }


    &:hover .header__menu-sub {
      display: block;
    }
  }

 

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid #a28300;
      @media ($min-width) { 
        border: none;
        margin-right: 30px;
      }
    }
    @media ($min-width) { 
      display: inline-block;
      float: left;
      width: auto;
      
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $color-body;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 10px;
    background-color: $color-brand-four;
    @media ($min-width) { 
      font-size: 18px;
      height: $header-height-desktop;
      background: none;
      background: transparent;
      line-height: 55px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.logo path {
  opacity: 0;
  transition: 300ms;
  &.active {
    opacity: 1;
    transition: 300ms;
  }
}

a.asg-btn, .asg-btn {
  background: $color-brand-two;
  background-color: $color-brand-two;
  border-bottom: 20px solid #000;
  border-left: 8px solid $color-brand-four;
  border-right: 8px solid $color-grey;
  transition: 200ms;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border-bottom: 20px solid #000;
    border-right: 8px solid #7e7778;
    color: $color-brand-two;
    background-color: $color-body;
    text-decoration: none;
  }
}