.hero {
  font-size: 0;
  width: 100%;
  img, svg {
    width: 100%;
    height: auto;
  }

  &--thanks {
    min-height: 350px;
    background-color: $color-body;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 0 20px;
  }
}