@charset "UTF-8";

$desktop : 'min-width: 769px';
$desktopHD : 'min-width: 1114px';

$color-body: #1d1d1b;
$color-grey: #7d7778;

$color-brand-one: #F39200;
$color-brand-two: #46D2BE;
$color-brand-three: #B3728D;
$color-brand-four: #ffc900;
